        <section id="banner">
            <div class="banner ts-services-banner parallax-section">
                <div class="overlay"></div>
                <div class="banner-content text-center">
                    <h1>Services</h1>
                    <p>Every day we learn something new and useful that we want to share with you</p>
                    <div class="breadcrumbs"><a href="#">Home</a> <i>/</i> <i>Services</i></div>
                </div>
            </div>
        </section>            

    <div class="ts-services-passion parallax-section">
        <div class="container">
            <div class="row ">
                <div class="col-sm-12  ">
                    <div class="ts-wrapper">
                        <div class="ts-section-title  text-center">
                            <h3>It’s passion, not only work!</h3>
                            <p>Each type of hosting service we provide is further optimized unique</p>
                        </div>
                        <div class="row ">
                            <div class="inner-row clearfix">

                                [childpages contenttypeid=page parentid=32 records=100 view=BoabCmsBundle:Page:services_child_pages]

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
