

<header class="page-banner"> 
    <div class="stretch">
        <img alt="image description" src="{{ asset(background) }}" >
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ content | raw }}
            </div>
        </div> 
    </div>
</header>


