
			
			{{ flash_success(true)|raw }}

			<div id="form-container">
					<form method="POST" action="{{ path('menu_admin_create') }}" enctype="multipart/form-data">
						
						{% include 'BoabCmsBundle:Admin:add_menu_detail.html.twig' %}
						
						<div class="checkbox custom-checkbox">
							<label>
								<input type="checkbox" id="extra_config" name="extra_config" class="input-extra-settings" data-setting-target="menu-extra-settings" {{ flash_data("extra_config") ? 'checked' }} />
								<span class="fa fa-check"></span>Enable additional configuration
							</label>
						</div>

						{% include "BoabCmsBundle:Admin:add_menu_extra_settings.html.twig" %}

						<button class="btn btn-green isThemeBtn" id="submit">submit</button>
					</form>
			</div>

