

				<form action="" method="POST"  name="frmListUser" id="frmListUser">

					<table width="100%" cellpadding="0" cellspacing="0" class="content-list <?php echo isset($sortable) ? 'sort-table' : 'nosortable'?>" id="data-list">
						<thead>
							  <tr>
								  <th><input id="allbox" type="checkbox" name = "checkbox"/></th>
								  <th width="40%">Title</th>
								  <th >Content Type</th>
								  <th >Author</th>
								  <th >Status</th>
								  <th >Action</th>
							  </tr>
						</thead>
						<tbody>
							<tr>
								<td height="100px" valign="top" colspan="6" class="dataTables_empty">No data available in the table</td>
							</tr>
						</tbody>
						<tfoot>
						</tfoot>
					</table>
				</form>


