                    
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                [template block=totalBalance]
                            </div>
                        </div>                    
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                [template block=availableBalance]
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                [template block=pendingTransfer]
                            </div>
                        </div>                        
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p>25-12-2016 17:30PM</p>
                                        <span class="info-box-title">Last user login activity</span>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->

					<div class="row">                    
                        <div class="col-lg-5 col-md-6">
                            [template block=quickTransfer]
                        </div>
                        

                        <div class="col-lg-7 col-md-6">
                            [template block=latestTransfer]
                        </div>  


					</div>                
