
	
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a class="tab" role="tab" data-toggle="tab" data-tab="main-setting" href="#main-setting">Content</a></li>
		<li><a class="tab" role="tab" data-toggle="tab" data-tab="menu-setting" href="#menu-setting">Menu Setting</a></li>
		<li><a class="tab" role="tab" data-toggle="tab" data-tab="seo-setting" href="#seo-setting">SEO Settings</a></li>
		<li><a class="tab" role="tab" data-toggle="tab" data-tab="other-setting" href="#other-setting">Other Settings</a></li>
		{# tabControls #}
	</ul>

