							
							{% extends 'BoabCmsBundle:Admin:content_add.html.twig' %}

							{% block tabs %}
								{{ parent() }}
							    <li><a class="tab" role="tab" data-toggle="tab" data-tab="menu-setting" href="#menu-setting">Menu Setting</a></li>
							{% endblock %}
							
							{% block form %}
    						{{ parent() }}
							<div id="menu-setting" class="tab-pane form-column-container">
								<div  class="checkbox custom-checkbox">
									<label>
										<input type="checkbox" id="menu_enable" name="menu_enable" class="input-extra-settings" data-setting-target="menu-setting-box" {{ flash_data("menu_enable") ? 'checked' }} />
										<span class="fa fa-check"></span>Provide Menu for content
										<i class="help-block">Leave blank for Anonymous.</i>
									</label>
									
								</div>

								<div id="menu-setting-box" class="{{ content.hasRoute() ? 'slide-down' : 'slide-up' }}">
									{% if content.hasRoute() == false %}
										{% include 'BoabCmsBundle:Admin:content_menu_option.html.twig' %}
									{% endif %}
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
							{% endblock %}