
<div id="content-types-container">
	{% for contentType in contentTypes %}
	<div class="content-type">
		<a href="{{ path('admin_content_add_type', {"content_type":contentType.getTypeId()}) }}">
			<h3>{{ contentType.getTypeId() }}</h3>
			<span>{{ contentType.getDescription()|raw }}</span>
		</a>
	</div>
	{% endfor %}
</div>
