<div id="thumbnail-uploaded" class="box">
	<img src="<?php echo BASE_URL.$this->content->getThumbnailUrlPath();?>" />
</div>
<div id="thumnail-upload-delete-link" class="box">
	<a href="<?php echo $this->deleteContentThumbnail;?>">Delete image uploaded</a>
</div>
