<div id="top-toolbar">
	<ul>
		<li><a>Welcome <?php echo $this->user->getLastName();?></a> |</li>
		<li><a href="<?php echo $this->generate('account_home');?>">Account</a> |</li>
		<li><a href="<?php echo $this->generate('admin_area');?>">Manage Content</a> |</li>
		<li><a href="<?php echo $this->generate('site_root');?>">Site</a> |</li>		
		<li><a href="<?php echo $this->generate('_logout');?>">Logout</a></li>
	</ul>
	<div class="clear"></div>
</div>
