            
            <div class="beans-stepslider" data-rotate="true">
              <div class="beans-mask">
                <div class="beans-slideset">
                  <!-- beans-slide 1 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="{{ asset('theme/kantua/images/logos/img25.png') }}" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 2 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img26.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 3 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img27.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 4 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img28.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 5 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img25.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 6 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img26.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 7 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img27.png" alt="image description"></span>
                    </a>
                  </div>
                  <!-- beans-slide 8 -->
                  <div class="beans-slide">
                      <!-- client box -->
                    <a href="clients.html" class="client-box">
                      <span class="img"><img src="<?php echo BASE_URL;?>theme/kantua/images/logos/img28.png" alt="image description"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>



