            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="page-heading">
                            <h2 class="heading lime text-capitalize font-medium margin-bottom-30">Are you an Artist?</h2>
                            <p>Are you a music producer? Help us to make our events brighter and collaborate with us. We love music of all genres.</p>
                        </header>
                        <a href="#" class="btn btn-f-default button">GET STRATED NOW</a>
                    </div>
                </div>
            </div>
            <!-- parallax-holder -->
            <div class="parallax-holder">
                <div class="parallax-frame">
                    <img src="{{ asset('theme/kantua/images/banners/artist2.jpg') }}" height="1280" width="1920" alt="image description">
                </div>
            </div>