
<div  class="block" id="sidebar-nav">
	<h2>Other Pages</h2>
	<div id="sidebar_menu">
		<div class="menu-list-wrapper">
			<ul>
				{% for menu in menuItems %}
			        <li><a href="{{ path(menu.getRouteName()) }}"> {{ menu.getTitle() }}</a></li>
			    {% endfor %}
			</ul>
		</div>
	</div>
	<br class="clear" />
</div>
      