	
{% raw %}
<script id="photo-wrapper-tpl" type="text/x-handlebars-template">
<div class="col-md-3 photo-container">	
	<div class="imageHolder">
		<img src="{{smallThumbnail}}" />
		<span class="img-controls">
			<a class="photo-view btn btn-success btn-xs" title="{{caption}}"  href="{{largeThumbnail}}" rel="lightbox">View</a>
			<a class="photo-delete btn btn-danger btn-xs" data-delete-container="img-wrapper" href="{{deletePath}}">Delete</a>                        			
		</span>
	</div>
</div>
</script>
{% endraw %}