
{% raw %}
<script id="progress-bar-tpl" type="text/x-handlebars-template">
	<div id="progress">
		<div id="bar"></div>
		<div id="percent">0%</div>
		<div class="clear"></div>
	</div>
</script>
{% endraw %}
